*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

header {
    height: 80px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.555);
    position: fixed;
    top: 0px;
    z-index: 100;
    overflow: hidden;
    
}
#logo img{
    width: 70px;
    height: 80px;
    float: left;
    margin-left: 20px;
}
header ul li{
    float: right;
    color: white;
    font-size: 25px;
   line-height: 70px;
    list-style: none;
    margin: 0px 40px;
}
header h1{
    float: left;
}
header a{
    font-size: 25px;
}
header ul li:hover{
color: goldenrod;
font-size: 40px;
}
i{
    margin-right: 10px;
    font-size: 25px;
}
h1::first-letter{
    font-size: 50px;
}
/*slider css*/

.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;

}
.container .column{
    width: 25%;
    height: 100%;
    float: left;
    border-right: 2px solid rgba(0,0,0,.5);
    box-sizing: border-box;
    z-index: 1;
}
.container .column:last-child{
    border-right: none;
}
.container .column .content{
    position: relative;
    height: 100%;
}
    
.container .column .content .box{
    position: absolute;
    top: 50%;
    transform: translateY(100%);
    box-sizing: border-box;
    padding: 40px;
    background: rgba(255, 255, 255, 0.589);
    text-align: center;
    transition: 0.5s;
    opacity: 0;
}
.container .column .content h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    background: rgba(0, 0,0, .1);
    text-align: center;
    margin: 0;
    padding: 0;
    color: rgba(255,255,255, .2);
    font-size: 15em;
    border-top: 2px solid rgba(0,0,0,.5);
    border-bottom: 2px solid rgba(0,0,0,.5);
}
.container .column .content .box h2{
    margin: 0;
    padding: 0;
    font-size: 30px;
    color:black;
}
.container .column .content .box p{
    color: #262626;
    font-size: 18px;
    margin-top: 5px;
    font-family: 'Times New Roman', Times, serif;

}
.container .column .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}
.container .column.active .bg.bg1{
    background: url(../image/purvottar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s;
}
.container .column.active .bg.bg2{
    background: url(../image/uttar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s;
}
.container .column.active .content .box {
    opacity: 1;
    transform: translateY(-50%);
}
.container .column.active .bg.bg3{
    background: url(../image/dakshin.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s;
}
.container .column.active .bg.bg4{
    background: url(../image/paschim.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: 0.5s;
}
main h2{
 margin-top: 30px;
 margin-left: 60px;
 font-size: 40px;
}
section{
    position: absolute;
    width: 90%;
    height: 500px;
    display: flex;
    border: 2px solid #000;
    margin: 50px;
}
section .slide{
    position: relative;
    background: #0f0;
    height: 100%;
    flex: 1;
    border-right: 2px solid #000;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
section .slide:hover{
flex-grow: 2.5;
}
section .slide:last-child{
    border-right: none;
}
section .slide .act-content{
    position: absolute;
    bottom: 10;
    color:black;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    transform: translateY(100px);
    display: flex;
    justify-content: center;
    align-items: center;
}
section .slide:hover .act-content{
    transition: 0.5s;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}
section .slide:nth-child(1){
    background: url(../image/taj-mahal-1024x682.jpeg);
    background-position: center center;
}
section .slide:nth-child(2){
    background: url(https://static.toiimg.com/photo/76395036.cms);
    background-position: center center;
}
section .slide:nth-child(3){
    background: url(https://toib.b-cdn.net/wp-content/uploads/2017/11/Kerala.jpg);
    background-position: center center;
}
section .slide:nth-child(4){
    background: url(../image/unnamed.jpg);
    background-position: center center;
}
section .slide:nth-child(5){
    background: url(https://travel-blog.happyeasygo.com/wp-content/uploads/2019/01/Goa-950-x-600.jpg);
    background-position: center center;
}
section .slide:nth-child(6){
    background: url(https://k6u8v6y8.stackpathcdn.com/blog/wp-content/uploads/2015/05/varanasi.jpg);
    background-position: center center;
}
section .slide:nth-child(7){
    background: url(../image/indiancuisine.jpg);
    background-position: center center;
}
section::before{
    content: "";
  clear: both;
}
section::after{
    content: "";
  clear: both;
}

.flip-cont{
    width: 380px;
    height: 480px;
    background: url(../image/Screenshot_20201206-121256_cont.jpg);
    margin-top: 850px;
    transform: translate(-50%,-50%);
    perspective: 1000px;
    float: right;
}
.flip-cover{
    width: 350px;
    height: 100%;
    position: absolute;
    left: 40px;
    background-color: #345b8c;
    transform:rotateY(20deg);
    transform-style:preserve-3d;
    transform-origin: left;
    transition: all .5s ease-in;
}
.flip-cont:hover .flip-cover{
    transform: rotateY(-180deg);
}
figure{
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
figure.front{
    background:url(../image/Screenshot_20201206-121712_front_1.jpg);
}
figure.back{
    background:url(../image/Screenshot_20201206-121249_cover.jpg);
    transform: rotateY(180deg);
}
/*
.bannerexp{
width: 100%;
height: 600px;
margin-top: 600px;
position: relative;
overflow: hidden;

}
.sliderexp{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin-right: 20px;
}*/
article h2{
    position: relative;
    top: 650px;
    text-align: center;
    font-size: 40px;
}
article p{
    position: relative;
    top: 700px;
    left: 350px;
    max-width: 500px;
    font-size: 20px;
}
article a{
    position: relative;
    top: 720px;
    left: 410px;
    display: inline-block;
    padding: 15px 30px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
/*article a:hover{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3;
    transition-delay:1s ;
}*/
article a span{
    position: absolute;
    display: block;
}
article a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,black);

}
article a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
article a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,black);

}
article a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.1s;
}
article a span:nth-child(2){
    top: -100%;
    right: -0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg,transparent,black);

}
article a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

article a span:nth-child(4){
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(3600deg,transparent,black);

}
article a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/*Footer*/
.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 0;
    top: 500px;
    width: 100%;
    background: black;
    margin-top: 10px;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    bottom: 0;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-cont{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
footer .footer-cont .sec{
    margin-right: 30px;
}
.footer-cont .sec.aboutus{
    width: 40%;
}
.footer-cont .sec h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer-cont .sec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}
footer p{
    color: #999;
}
.footer-sci{
    margin-top: 20px;
    display: flex;
}
.footer-sci li{
    list-style: none;
}
.footer-sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;
   

}
.footer-sci li a:hover{
    background:crimson;
}
.footer-sci li a .fa{
    color: #fff;
    font-size: 15px;
}
.quickLinks{
    position: relative;
    width: 25%;
}
.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;

}
.quickLinks ul li {
    list-style: none;
}
.quickLinks ul li a:hover{
    color: #fff;
}
.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}
.contact .info li{
    display: flex;
    margin-bottom: 16px;
}
.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}
.contact .info li span{
    color: #999;
}
.contact .info li a{
    color: #999;
    text-decoration: none;
}
.contact .info li a:hover{
    color: #fff;
}
/* last card*/
.card_c
{
	margin: 10px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: consolas;
}
.container-card
{
    margin-left: 40px;
    position: relative;
    top: 900px;
	width: 1200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.container-card .box-card
{
	position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
}
.container-card .box-card .imgBx-card
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}
.container-card .box-card:hover .imgBx-card
{
	clip-path: circle(80px at center 100px);
	transition-delay: 0s;
}
.container-card .box-card:hover .imgBx-card img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.container-card .box-card .content-card
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}
.container-card .box-card .content-card h2
{
	margin: 0;
	padding: 0;
}
.container-card .box-card .content-card a
{
	text-decoration: none;
	background: #000;
    color: #fff;
    margin-top: 10px;
	padding: 5px;
	display: inline-block;
}
.container-card .box-card .content-card h2,
.container-card .box-card .content-card p,
.container-card .box-card .content-card a
{
	opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}
.container-card .box-card:hover .content-card h2
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.5s;
}
.container-card .box-card:hover .content-card p
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.7s;
}
.container-card .box-card:hover .content-card a
{
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.9s;
}
