        *{
            margin: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        
        body{
            font-family: 'Times New Roman', Times, serif;
        }
        header {
            height: 80px;
            width: 100%;
            background-color:rgba(0, 0, 0, 0.281);
            position: fixed;
            top: 0px;
            z-index: 100;
            
        }
        #logo img{
            width: 70px;
            height: 80px;
            float: left;
            margin-left: 20px;
        }
        header ul li{
            float: right;
            color: white;
            font-size: 30px;
           line-height: 70px;
            list-style: none;
            margin: 0px 40px;
        }
        i{
            margin-right: 10px;
            font-size: 30px;
        
        }
        header h1,h2,h3{
            float: left;
            
        }
        h1::first-letter{
            font-size: 50px;
        }
        a{
            text-decoration: none;
            color:white;
            font-size: 25px;
        }
        section{
            position: relative;
            width: 100%;
            height: 800px;
            
        }
        section video{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 800px;
            object-fit:cover ;
        }
        section .navigation{
            position: absolute;
            bottom: 40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        section .navigation li{
            list-style: none;
            cursor: pointer;
            margin: 0 10px;
            border-radius: 4px;
            background:white;
            padding: 3px 3px 0;
            opacity: 0.7;
            transition: 0.5s;
        } 
        section .navigation li:hover{
            opacity: 1;
        }
        section .navigation img{
            width: 120px;
            transition: 0.5s;
        }
        section .navigation li img:hover{
            width: 200px;
        }
        main{
            border: 5px solid black;
            margin: 40px 80px;
        }
    